{
    email {$ACME_EMAIL}
    http_port {$CADDY_HTTP_PORT}
    https_port {$CADDY_HTTPS_PORT}
}

{$APP_PUBLIC_URL} {
    reverse_proxy {$APP_UPSTREAM_HOST}:{$APP_UPSTREAM_PORT}
}

{$PHPBB_PUBLIC_URL} {
    reverse_proxy phpbb:80
}

{$MEDIAWIKI_PUBLIC_URL} {
    reverse_proxy mediawiki:80
}
