{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
<h3 class="about-page-title">About</h3>

<div class="about-qa">

    <section class="qa-item">
        <h4 class="qa-question">What is redump?</h4>
        <p class="qa-answer">Redump is a disc preservation database and internet community dedicated to collecting precise and accurate information about video games and game-related media released on optical discs. Redump also provides <a href="https://wiki.redump.info/Dumping_Guides">dumping guides</a> to ensure the dumps are correctly done. Users of the website who follow the guides correctly are encouraged to submit their results to help build the database.</p>
    </section>

    <section class="qa-item">
        <h4 class="qa-question">Does this website offer game downloads?</h4>
        <p class="qa-answer">No. Dumpers only submit metadata and Redump only stores metadata. This information is considered public domain to be used however people see fit - whether you are a researcher, academic, organization, or simply an individual verifying the data for your own media. See the <a href="https://wiki.redump.info/Redump:_Disclaimer">disclaimer</a> for more information.</p>
    </section>

    <section class="qa-item">
        <h4 class="qa-question">How can I contribute?</h4>
        <p class="qa-answer">Visit our <a href="https://wiki.redump.info/Getting_Started_Guide">Getting Started Guide</a>, make an account, and submit disc dump metadata.</p>
    </section>

    <section class="qa-item">
        <h4 class="qa-question">Why do I need a specific disc drive brand and model to contribute?</h4>
        <p class="qa-answer">Specific disc drives are needed to have complete 1:1 dumps depending on the disc type (especially for CDs). Certain required features are only available on specific disc drive models. See the <a href="https://wiki.redump.info/Optical_Disc_Drive_Compatibility">list of supported disc drives</a> for more.</p>
    </section>

    <section class="qa-item">
        <h4 class="qa-question">What is a DAT?</h4>
        <p class="qa-answer">A .dat file is an XML export of the essential metadata in redump's disc database. The DAT files are a common format used by third party software for checking the integrity of your disc images.</p>
    </section>

</div>
{% endblock %}
